

  <div class="container-fluid  ">
    <div>
      <h3 class="  title">Produtos disponíveis para venda</h3>
      <p class="nota"><i class="fa-solid fa-circle-info" style="color: rgb(117, 9, 9); padding-right: 5px;"></i>Nota: Escolha o produto e entre em contacto com o vendedor para efetuar a compra</p>
    </div>
  <div class="row row-cols-auto tm">
    <div class="col col-w" *ngFor="let item of items">
    <img [src]="item.img" alt="" class="img">
    <div>{{ item.nome }}</div>
    <div>{{ item.tam }}</div>
  </div>
  </div>
</div>
