<app-carrousel [imagens]="imgs"></app-carrousel>

<div class="m-5 justify-content-center align-items-center min-heigth">
  <div class="mb-3  text-center">
    <h3>Cronologia do Grupo</h3>
  </div>

  <div class="cronologia">
    <div class="card-container" *ngFor="let item of cardsInformativas; let i = index">
      <div class="card" [class.flipped]="expandedItems[i]">

        <div class="card-front card-face text-center" (click)="toggleParagrafo(i)">
          <div class="card-body">
            <h5 class="card-title">{{ item.titulo }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ item.ano }}</h6>
          </div>
        </div>

        <div class="card-back card-face" (click)="toggleParagrafo(i)">
          <div class="card-body">
            <div *ngFor="let data of item.datas">
              <p class="card-text"><b>{{ data.titulo }}</b> - {{ data.desc }}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>



<div class="  mb-3 justify-content-center align-items-center motivos-size">
  <div class="text-center  mb-4 mt-5">
    <h3  >Capoeira  Agbara ensina</h3>
  </div>
  <div class="container cronologia text-center">
    <div class="col format-icon">
      <div class=""><i class="fa-solid fa-dumbbell" style="color: #080808;"></i></div>
      <div class="motivo">{{ motivo0}}</div>
      <div class="desc">{{ desc0}}</div>
    </div>

    <div class="col format-icon">
      <div class=""><i class="fa-solid fa-masks-theater" style="color: #0d0d0d;"></i></div>
      <div class="motivo">{{ motivo2}}</div>
      <div class="desc">{{ desc2}}</div>
    </div>

    <div class="col format-icon">
      <div class=""><i class="fa-solid fa-clipboard-list" style="color: #080808;"></i></div>
      <div class="motivo">{{ motivo6}}</div>
      <div class="desc">{{ desc6}}</div>
    </div>

    <div class="col format-icon">
      <div class=""><i class="fa-solid fa-people-group" style="color: #030303;"></i></div>
      <div class="motivo">{{ motivo3}}</div>
      <div class="desc">{{ desc3}}</div>
    </div>
    <div class="col format-icon">
      <div class=""><i class="fa-solid fa-shield" style="color: #0c0d0d;"></i></div>
      <div class="motivo">{{ motivo5}}</div>
      <div class="desc">{{ desc5}}</div>
    </div>
    <div class="col format-icon">
      <div class=""><i class="fa-solid fa-brain" style="color: #050505;"></i></div>
      <div class="motivo">{{ motivo4}}</div>
      <div class="desc">{{ desc4}}</div>
    </div>
  </div>
</div>

<div class="text-center  justify-content-center align-items-center mb-5">
  <h4 class="mb-3">Próximos eventos</h4>
  <div class="eventos-cartaz">
    <img src="assets/fotos/1.jpg" alt="" class="imgEventos">
    <img src="assets/fotos/7.jpg" alt="" class="imgEventos">
  </div>
  <button type="button" class="btn btn-outline-info mb-3" routerLink="['/eventos']"  >Mais eventos</button>

</div>

<div class="text-center  justify-content-center align-items-center ">
  <h4 class="text-center mb-3">Videos</h4>
  <div class="eventos-cartaz">
    <iframe src="" class="maisVideos" src="https://www.youtube.com/embed/45WRBLS3BdE"></iframe>
    <iframe src="" class="maisVideos" src="https://www.youtube.com/embed/zJWrk-ofepE"></iframe>
  </div>
  <button type="button" class="btn btn-outline-info mb-3"  routerLink="['/videos']" >Mais videos</button>
</div>
