<div class="container  ">



  <div class="row align-items-start">

    <div class="col ">
      <div class="mt-5 mb-3">
        <h4 class="text-center">SIGNIFICADO DAS CORES CAPOEIRA</h4>
      </div>
      <div class="text-justify"> As cores têm a capacidade de transmitir sensações que tanto podem relaxar como estimular, alegrar eu
        entristecer as pessoas. Embora a seu significado seja universal, de acordo com cada cultura, cada cos pode
        assumir aspectos diferentes. Na capocira as cores sewem para mostrar a grau dos alunos e também a sua cvolução.
      </div>
      <div>
        <ul>
          <li><span class="bold ">Branco</span> - {{desc0}}</li>
          <li><span class="bold">Vermelho</span> - {{desc1}}</li>
          <li><span class="bold">Vinho</span> - {{desc11}}</li>
          <li><span class="bold">Marron</span> - {{desc2}}</li>

          <li><span class="bold">Roxo</span> - {{desc3}}</li>
          <li><span class="bold">Azul</span> - {{desc4}}</li>
          <li><span class="bold">Verde</span> - {{desc5}}</li>

          <li><span class="bold">Laranja</span> - {{desc6}}</li>
          <li><span class="bold">Amarela</span> - {{desc7}}</li>
          <li><span class="bold">Cinza</span> - {{desc8}}</li>
        </ul>



      </div>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col mt-4 me-3 ms-3">
      <div class="mb-3 badge  ">
        <h5>Adultos</h5>
      </div>
      <app-desc-grad [src]="src_00" [topicosArray]="topico_00"></app-desc-grad>
      <app-desc-grad [src]="src_0" [topicosArray]="topico_0"></app-desc-grad>
      <app-desc-grad [src]="src_1" [topicosArray]="topico_1"></app-desc-grad>
      <app-desc-grad [src]="src_2" [topicosArray]="topico_2"></app-desc-grad>
      <app-desc-grad [src]="src_3" [topicosArray]="topico_3"></app-desc-grad>
      <app-desc-grad [src]="src_4" [topicosArray]="topico_4"></app-desc-grad>
      <app-desc-grad [src]="src_5" [topicosArray]="topico_5"></app-desc-grad>
      <app-desc-grad [src]="src_6" [topicosArray]="topico_6"></app-desc-grad>
      <app-desc-grad [src]="src_7" [topicosArray]="topico_7"></app-desc-grad>
      <app-desc-grad [src]="src_8" [topicosArray]="topico_8"></app-desc-grad>
      <app-desc-grad [src]="src_9" [topicosArray]="topico_9"></app-desc-grad>
      <app-desc-grad [src]="src_10" [topicosArray]="topico_10"></app-desc-grad>
      <app-desc-grad [src]="src_11" [topicosArray]="topico_11"></app-desc-grad>
      <app-desc-grad [src]="src_12" [topicosArray]="topico_12"></app-desc-grad>
      <app-desc-grad [src]="src_13" [topicosArray]="topico_13"></app-desc-grad>
      <app-desc-grad [src]="src_14" [topicosArray]="topico_14"></app-desc-grad>
    </div>
    <div class="col mt-4 me-3 ms-3">
      <div class="mb-3 badge ">
        <h5>Intermédios</h5>
      </div>
      <app-desc-grad [src]="src_20" [topicosArray]="topico_20"></app-desc-grad>
      <app-desc-grad [src]="src_21" [topicosArray]="topico_21"></app-desc-grad>
      <app-desc-grad [src]="src_22" [topicosArray]="topico_22"></app-desc-grad>
      <app-desc-grad [src]="src_23" [topicosArray]="topico_23"></app-desc-grad>
      <app-desc-grad [src]="src_24" [topicosArray]="topico_24"></app-desc-grad>
      <app-desc-grad [src]="src_25" [topicosArray]="topico_25"></app-desc-grad>
      <app-desc-grad [src]="src_26" [topicosArray]="topico_26"></app-desc-grad>
      <app-desc-grad [src]="src_27" [topicosArray]="topico_27"></app-desc-grad>
      <app-desc-grad [src]="src_28" [topicosArray]="topico_28"></app-desc-grad>
      <app-desc-grad [src]="src_29" [topicosArray]="topico_29"></app-desc-grad>
      <app-desc-grad [src]="src_30" [topicosArray]="topico_30"></app-desc-grad>
      <app-desc-grad [src]="src_31" [topicosArray]="topico_31"></app-desc-grad>
    </div>
    <div class="col mt-4 me-3 ms-3">
      <div class="mb-3 badge ">
        <h5>Crianças</h5>
      </div>
      <app-desc-grad [src]="src_40" [topicosArray]="topico_40"></app-desc-grad>
      <app-desc-grad [src]="src_41" [topicosArray]="topico_41"></app-desc-grad>
      <app-desc-grad [src]="src_42" [topicosArray]="topico_42"></app-desc-grad>
      <app-desc-grad [src]="src_43" [topicosArray]="topico_43"></app-desc-grad>
      <app-desc-grad [src]="src_44" [topicosArray]="topico_44"></app-desc-grad>
      <app-desc-grad [src]="src_45" [topicosArray]="topico_45"></app-desc-grad>
      <app-desc-grad [src]="src_46" [topicosArray]="topico_46"></app-desc-grad>
    </div>
  </div>
</div>
