.titulo {
  color: #8A72B1;
}

.background {
  background-color: #7BA66B;
}

.botao {
  background-color: #F1AA9F;
  color: #fff; /* Cor do texto nos botões */
}

.texto {
  color: #470F0F;
}

.paragrafo {
  color: #8F2323;
}

.nav {
  background-color: #fff;
  color: #000; /* Cor do texto no menu de navegação */
}
.bold {
  font-weight: bold;
}

ul
{
  li{
    padding-block: 8px;
    text-align: justify;
  }
}
