<div class="gallery-container mrg">
  <div class="container-fluid">
    <div class="gallery-grid">
      <div class="gallery-item" *ngFor="let item of arrayFotos">
        <div class="image-container">
          <img [src]="item.src" [alt]="item.desc" class="gallery-image">
          <div class="image-overlay">
            <div class="overlay-content">
              <i class="bi bi-zoom-in"></i>
              <span>{{ item.desc || 'Ver mais' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
