<div class="mrg">
  <div class="container-fluid">
    <div class="row">
      <div class="box col-lg-4 col-md-6 col-12" *ngFor="let item of locais; let i = index">
        <div class="text-bold">{{ item.local }}</div>
        <div class="map-container" [id]="'map' + i"></div>
        <div class="info-container">
          <div class="info-item">
            <i class="bi bi-person-circle"></i>
            <span>{{ item.nome }}</span>
          </div>
          <div class="info-item">
            <i class="bi bi-phone"></i>
            <span>{{ item.contacto }}</span>
          </div>
          <div class="info-item">
            <i class="bi bi-geo-alt"></i>
            <span>{{ item.Morada }}</span>
          </div>
          <div class="info-item">
            <i class="bi bi-clock"></i>
            <span>{{ item.horario }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
