<div class=" mrg">
  <!--<app-card-texto [texto]="espacoNininho" [foto]="fotoN" [half]="true"></app-card-texto>
  <app-card-texto [texto]="espacoBandas" [foto]="fotoB" [half]="true"></app-card-texto>
  <app-card-texto [texto]="espacoBarravento" [foto]="fotoBV" [half]="true"></app-card-texto>-->


  <div class="container-fluid  ">

    <div class="row ">

      <div class="box col" *ngFor="let item of locais">
        <div class="text-bold">{{ item.local }}</div>
        <img [src]="item.foto" alt="" class="img">
        <div >{{ item.nome }}</div>
        <div><i class="bi bi-phone"></i> {{ item.contacto }}</div>
        <div><i class="bi bi-geo-alt"></i> {{ item.Morada }}</div>
        <div><i class="bi bi-clock"></i> {{ item.horario }}</div>
      </div>

    </div>

  </div>
