/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";

.leaflet-container {
  z-index: 1 !important;
}

.leaflet-pane {
  z-index: 2 !important;
}

.leaflet-control {
  z-index: 3 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 3 !important;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}

